@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

@import 'base/variables';
@import 'base/mixins';


* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/buttons';
@import 'blocks/promo';
@import 'blocks/hamburger';
@import 'blocks/titles';
@import 'blocks/advantages';
@import 'blocks/job';
@import 'blocks/agent';
@import 'blocks/price';
@import 'blocks/consultation';
@import 'blocks/form';
@import 'blocks/managers';
@import 'blocks/scheme';
@import 'blocks/review';
@import 'blocks/slider';
@import 'slick/slick';
@import 'blocks/question';
@import 'blocks/map';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';






@import 'blocks/media';