@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .header {
        &__logo {
            margin-right: 40px;
        }
        &__menu {
            width: 500px;
            margin-right: 23px;
            &-item {
                padding: 0 7px;
            }
            &-link {
                font-size: 13px;
            }
        }
        &__text {
            font-size: 12px;
        }
        &__phone {
            font-size: 14px;
        }
    }
    .advantages {
        &__item {
            width: 430px;
        }
    }
    .job {
        &__wrapper {
            grid-template: 210px auto / repeat(3,303px);
            gap: 25px;
        }
    }
    .price {
        &__wrapper {
            &-item {
                margin: 0 2px;
            }
        }
    }
    .scheme {
        &__wrapper {
            justify-content: space-evenly;
        }
        &__item {
            flex-direction: column;
            width: 230px;
            text-align: center;
            align-items: center;
            &:nth-child(5) {
                margin-left: 0;
            }
            &:nth-child(7) {
                margin-right: 0;
            }
        }
        &__icon {
            margin-right: 0;
        }
    }
    .footer {
        &__icon {
            margin-right: 25px;
        }
        &__text {
            margin-right: 160px;
        }
    }
}


@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .header {
        flex-wrap: wrap;
        justify-content: center;
    }
    .promo {
        &__descr {
            margin-top: 35px;
            font-size: 22px;
        }
        &__title {
            margin-top: 20px;
            font-size: 56px;
        }
        &__subtitle {
            font-size: 34px;
        }
        &__icon {
            font-size: 12px;
        }
    }
    .advantages {
        &__item {
            width: 340px;
        }
        &__title {
            font-size: 14px;
        }
        &__descr {
            font-size: 12px;
        }
    }
    .job {
        &__wrapper {
            grid-template: 171px auto/repeat(3,227px);
            column-gap: 20px;
            &-title {
                font-size: 14px;
            }
            &-descr {
                font-size: 12px;
            }
        }
    }
    .price {
        &__wrapper {
            flex-wrap: wrap;
            justify-content: space-around;
            &-item {
                margin-top: 15px;
            }
        }
    }
    .slider {
        &__item {
            &-wrapper {
                width: 450px;
            }
        }
    }
    .slick {
        &-prev {
            left: 35%;
        }
        &-next {
            right: 35%;
        }
    }
    .question {
        &__layer {
            grid-template: 68px 229px/720px;
            width: 720px;
        }
    }
    .footer {
        &__icon {
            margin-right: 19px;
        }
        &__text {
            margin-right: 30px;
            font-size: 12px;
        }
        &__phone {
            font-size: 14px;
        }
    }
}


@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header {
        position: relative;
        &__menu {
            display: block;
            position: fixed;
            left: -100%;
            top: 0;
            background-color: rgba(236,100,75, 1);
            width: 183px;
            height: calc(100vh + 23px);
            z-index: 10;
            padding: 100px 0 0 20px;
            border: 2px solid grey;
            transition: all 0.5s;
            &_active {
                left: -19px;
                top: -23px;
            }
            &-item {
                margin-top: 20px;
                border: none;
            }
            &-link {
                font-size: 20px;
            }
        }
        .button {
        margin-right: 88px;
        }
    }
    .hamburger {
        display: flex;
    }
    .promo {
        &__descr {
            margin-top: 40px;
            font-size: 20px;
        }
        &__title {
            font-size: 43px;
        }
        &__subtitle {
            font-size: 26px;
        }
        &__icons {
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__icon {
            max-width: 200px;
            margin-right: 0;
        }
    }
    .advantages {
        &__wrapper {
            justify-content: center;
            margin-top: 20px;
        }
        &__item {
            margin-top: 20px;
        }
    }
    .job {
        h2.title {
            font-size: 22px;
            line-height: 22px;
        }
        &__subtitle {
            font-size: 16px;
            line-height: 19px;
        }
        &__wrapper {
            grid-template: 170px auto/repeat(1,310px);
            justify-content: center;
            &-item {
                &:nth-child(4) {
                    grid-row: 2;
                }
                &:nth-child(5) {
                    grid-row: 4;
                }

            }
        }
    }
    .slider {
        &__item {
            &-wrapper {
                width: 300px;
            }
            &-descr{
                font-size: 13px;
            }
        }
    }
    .slick {
        &-prev {
            left: 35%;
        }
        &-next {
            right: 35%;
        }
    }
    .question {
        &__layer {
            grid-template: 68px 229px/540px;
            width: 540px;
        }
    }
    .form {
        &_question {
            input {
                padding-left: 18px;
                font-size: 11px;
            }
        }
    }
    .footer {
        &__wrapper {
            justify-content: space-between;
        }
        &__icon {
            margin-right: 0;
        }
        &__text {
            display: none;
        }
    }
}



@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .header {
        flex-direction: column;
        align-items: center;
        &__logo {
            margin: 0;
        }
        &__contacts {
            margin: 20px 0 0 0;
            align-items: center;
        }
        .button {
            margin: 20px 0 0 0;
        }
    }
    .consultation {
        &__form {
            flex-direction: column;
            height: 250px;
        }
        &__icon {
            width: 60px;
            height: 60px;
            left: 0;
            top: -20%;
            transform: translate(0);
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__layer {
            position: inherit;
            left: 0; 
            bottom: 0; 
            transform: translateX(0);
            margin: 16px 0 10px;
        }
    }
    .question {
        &__layer {
            grid-template: 68px auto / 100%;
            width: 100%;
        }
    }
    .form {
        &_question {
            grid-template: 47px 73px 45px 50px / auto;
            gap: unset;
            textarea {
                display: none;
            }
        }
        .button {
            grid-column: unset;
            margin-top: 5px;
        }
    }
    .map {
        &__adress {
            padding: 0;
            border: 2px solid $main-color;
            border-top: none;
            text-align: center;
            
            a {
                text-decoration: underline;
                color: black;
            }
        }
    }
    .footer {
        &__wrapper {
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            margin-right: 0;
        }
        &__info {
            flex-direction: column;
        }
        &__policy {
            margin-top: 10px;
        }
        &__help {
            margin-top: 10px;
        }
    }
    .slick {
        &-prev {
            left: 25%;
        }
        &-next {
            right: 25%;
        }
    }
    .form {
        input {
            width: 100%;
        }
    }
    .modal {
        width: 300px;
        &__close {
            top: 8px;
            right: 10px;
        }
        .button {
            width: 100%;
            margin: 15px 0 0 0;
        }
    }
    
}