.price {
    padding: 53px 0 55px 0;
    @include divider;
    &__wrapper {
        margin-top: 34px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-item {
            padding: 2px 2px 26px 2px;
            width: 267px;
            height: 357px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: space-between;
            border: 1px solid #e9e9e9;
            &-header {
                height: 61px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #25333c;
                color: #fff;
                font-size: 16px;
                line-height: 23px;
                font-weight: 700;
                text-transform: uppercase;
            }
            &-promo {
                margin-top: 14px;
                &-title {
                    margin-top: 12px;
                    font-size: 14px;
                    line-height: 23px;
                    font-weight: 400;
                    text-transform: uppercase;
                    color: #2e2e2e;
                    span {
                        font-size: 28px;
                        line-height: 30px;
                        text-transform: none;
                        color: $main-color;
                    }
                }
                &-descr {
                    margin-top: 15px;
                    font-size: 14px;
                    line-height: 20px;
                    font-weight: 300;
                    color: #2e2e2e;
                }
            }
        }

    }
}