.question {
    padding: 62px 0 79px 0;
    background: url('../img/question/question_bg.jpg') center (center/cover) no-repeat;
    &__layer {
        width: 897px;
        height: 297px;
        margin: 0 auto;
        display: grid;
        grid-template: 68px 229px / 896px;
    }
    &__header {
        background-color: #25333c;
        padding-top: 20px;
    }
    &__title {
        text-align: center;
        font-size: 19px;
        line-height: 19px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        span {
            font-size: 14px;
            font-weight: 400;
        }
    }
}