// find scheme code in advantages file

.scheme {
    min-height: 455px;
    &__wrapper {
        justify-content: space-evenly;
        align-items: flex-start;
    }
    &__item {
        flex-direction: column;
        width: 250px;
        text-align: center;
        align-items: center;
        &:nth-child(5) {
            margin-left: 146px;
        }
        &:nth-child(7) {
            margin-right: 160px;
        }
    }
    &__icon {
        margin-right: 0;
    }
}